{% extends 'base.html' %}

{% block title %}UniMuse{% endblock %}

{% block content %}

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-nav ml-auto" id="navbarNavDropdown">
        <a class="nav-link" href="https://github.com/yspark90/UniMuse">GitHub</a>
    </div>
  </nav>

  <h1 class="ml12">
    <span class="text-wrapper">
      <span class="letters">UniMuse</span>
    </span>
  </h1>
  
  <div>

    <button class="btn btn-primary" id="main-signup-button" onclick="location.href = '/sign-up-form'">
      New User </button>

    <button class="btn btn-primary" id="main-login-button" onclick="location.href = '/login-form'">
      Login</button>

  </div>

  <script src="../static/js/animations/index_header.js"></script>
  
{% endblock %}