{% extends 'base.html' %}

{% block title %}UniMuse{% endblock %}

{% block content %}

  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="navbar-nav ml-auto" id="navbarNavDropdown">
          <a class="nav-link" href="https://github.com/yspark90/UniMuse">GitHub</a>
      </div>
    </nav>

    <div class="index-header row">
      <div class="col-12">
        <h1 class="ml12">
          <span class="text-wrapper">
            <span class="letters">UniMuse</span>
          </span>
        </h1>
      </div>
    </div>

    <div class="index-buttons row">
      <div class="col-12">
        <button class="btn btn-primary btn-lg raised" id="main-signup-button" onclick="location.href = '/sign-up-form'">
          New User </button>

        <button class="btn btn-primary btn-lg raised" id="main-login-button" onclick="location.href = '/login-form'">
          Login</button>
      </div>
    </div>

    <div class="index-buttons row">
      <div class="col-12">
      </div>
    </div>

    <div class="index-about row">
      <div class="col-12">
        <h3 class="about-header">About</h3>
        <p id="about-p">
          Welcome to UniMuse!
          Have you ever found yourself opening up Spotify for one song, then YouTube for a live version or
          remix of that song? Well, you've come to the right place!
          UniMuse is a non-proprietary web application that consolidates music services, such as 
          Spotify, Mixcloud, and YouTube, providing you an easy-to-use, all-inclusive platform for 
          all of your music needs.
        </p>
      </div>
    </div>
    
    <div class="index-available-subs-header row">
      <div class="col-12">
        <h3 class="available-subs-header">Available Music Services</h3>
      </div>
    </div>
    
    <div class="index-available-subs row">
      <div class="col-6">
        <img src="../static/img/Spotify_Logo_RGB_Green.png" height="71" width="236">
      </div>
      <div class="col-6">
        <img src="../static/img/yt_logo_rgb_dark.png" height="59" width="265">
      </div>
      <div class="col-12">
        <img src="../static/img/WhiteOnTransparent.png" height="170" width="267">
      </div>
    </div>

  </div>

  <script src="../static/js/animations/index_header.js"></script>
  
{% endblock %}