{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

  <div type="container">
    
    <div class="login-header-row row">
      <div class="col-12">
        <h2 id='login-header'>Log-in to UniMuse</h2>
      </div>
    </div>
  
    <div class="login-form-row row">
      <div class="col-12">    
        <form id="login-form" action="/login-verification" method="post">
          <label for="username" id="login-username-label">
            Username: </label>
          <input type="text" name="username" required>
          
          <p id="padding">

          <label for="password" id="login-password-label">
            Password: </label>
          <input type="password" name="password" required>
          
          <p id="padding">

          <button class="btn btn-primary btn-lg raised" id="login-to-main-button" 
            onclick="location.href = '/'">Go Back</button>
          <button type="submit" class="btn btn-primary btn-lg raised" 
            id="login-submit-button">Log-In!</button>
        </form>
      </div>
    </div>
  
  </div>

{% endblock %}