{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

  <div type="container">
    
    <div class="login-header-row row">
      <div class="col-12">
        <h2 id='login-header'>Log-in to UniMuse</h2>
      </div>
    </div>
  
    <div class="login-form-row row">
      <div class="col-12">    
        <form id="login-form" action="/login-verification" method="post">

          <label id="login-username-label">
            Username: <input type="text" name="um-username" required>
          </label><br>
          
          <label>
            Password: <input type="password" name="um-password" required>
          </label><br>
          <button type="submit" class="btn btn-primary btn-lg raised" id="login-submit-btn">Log-In!</button>

        </form>

        <button class="btn btn-primary btn-lg raised" id="login-to-main-btn" onclick="location.href = '/'">
          Go Back</button>
      </div>
    </div>
  
  </div>

{% endblock %}