{% extends 'base.html' %}

{% block title %}Spotify Web Playback SDK{% endblock %}

{% block content %}

  <h1>Song Player</h1>

  <!-- Javascript for Spotify Web Player SDK -->
  <script src="https://sdk.scdn.co/spotify-player.js"></script>
  <script>
    const token = '{{ access_token }}';
    let uri = '{"uris": ["' + '{{ uri }}' + '"]}'

    window.onSpotifyWebPlaybackSDKReady = () => {
      const player = new Spotify.Player({
        name: 'Spotify Player On UniMuse',
        getOAuthToken: cb => { cb(token); }
      });

      player.addListener('initialization_error', ({ e_msg }) => { console.error(e_msg); });
      player.addListener('authentication_error', ({ e_msg }) => { console.error(e_msg); });
      player.addListener('account_error', ({ e_msg }) => { console.error(e_msg); });
      player.addListener('playback_error', ({ e_msg }) => { console.error(e_msg); });

      player.on('player_state_changed', state => {
        console.log(state)
        $('#current-track').attr('src', state.track_window.current_track.album.images[0].url);
        $('#current-track-name').text(state.track_window.current_track.name);
      });

      player.on('ready', data => {
        console.log('Ready with Device ID', data.device_id);

        play(data.device_id);
      });

      player.connect();
    };


    function play(device_id) {
      $.ajax({
        url: "https://api.spotify.com/v1/me/player/play?device_id=" + device_id,
        type: "PUT",
        data: uri,
        beforeSend: function(xhr){xhr.setRequestHeader('Authorization', 'Bearer ' + token );},
        success: function(data) { 
          console.log(data)
        }
      });
    };
  </script>

  <div class="container">
      <h1>Play ze song</h1>
      <img id="current-track"/>
      <h3 id="current-track-name"></h3>
  </div>
  
{% endblock %}