{% extends 'base.html' %}

{% block title %}Search Songs{% endblock %}

{% block content %}

  <h1>Search for Songs!</h1>

  <div class="container" id="search-box">
    
    <form action="/search-page" method="post">

      Search for the song title: <br>
      <input type="text" id="search-song-title" name="user-song-query">
      <input type="submit" id="search-song-title-submit" value="Search!">

    </form>

  </div>

  <div id="goto-player">

      <button class="btn btn-primary" id="goto-player-button" onclick="location.href = '/player'">
        Finish </button>
        
  </div>

  <script>
    function get_first_song(evt) {

    }
  </script>
  
{% endblock %}