{% extends 'base.html' %}

{% block title %}Search Songs{% endblock %}

{% block content %}

  <h1>Search for Songs!</h1>

  <div id="search-results"></div>

  <script src="static/js/components/SearchResultsList.jsx" type="text/jsx"></script>
  <script src="static/js/components/SearchForm.jsx" type="text/jsx"></script>
  <script src="static/js/components/ResultsList.jsx" type="text/jsx"></script>
  <script src="static/js/components/NoResults.jsx" type="text/jsx"></script>
  <script src="static/js/components/Result.jsx" type="text/jsx"></script>

  <script type="text/jsx">
    ReactDOM.render(<SearchResultsList />, document.querySelector('div#search-results'));
  </script>

  <!-- <div id="goto-player">

      <button class="btn btn-primary" id="goto-player-button" onclick="location.href = '/player'">
        Finish </button>
        
  </div> -->
  
{% endblock %}