
{% extends 'base.html' %}

{% block title %}Search Songs{% endblock %}

{% block content %}

  <div id="root"></div>

  <script src="static/js/components/SearchResultsAndPlaylists.jsx" type="text/jsx"></script>
  <script src="static/js/components/search/SearchForm.jsx" type="text/jsx"></script>
  <script src="static/js/components/playlist/PlaylistForm.jsx" type="text/jsx"></script>
  <script src="static/js/components/search/SearchResults.jsx" type="text/jsx"></script>
  <script src="static/js/components/playlist/PlaylistsSongList.jsx" type="text/jsx"></script>
  <script src="static/js/components/search/SearchResElement.jsx" type="text/jsx"></script>
  <script src="static/js/components/playlist/PlaylistElement.jsx" type="text/jsx"></script>
  <script src="static/js/components/search/NoSearchResElement.jsx" type="text/jsx"></script>
  <script src="static/js/components/playlist/NoPlaylistElement.jsx" type="text/jsx"></script>
  <script src="static/js/components/PlaylistPlayer.jsx" type="text/jsx"></script>
  <script src="static/js/components/player/Songs.jsx" type="text/jsx"></script>
  <script src="static/js/components/player/SongElement.jsx" type="text/jsx"></script>
  <script src="static/js/components/player/NoSongElement.jsx" type="text/jsx"></script>
  <script src="static/js/components/player/Player.jsx" type="text/jsx"></script>

  <script type="text/jsx">
    ReactDOM.render(<SearchResultsAndPlaylists />, document.querySelector('div#root'));
  </script>
  
{% endblock %}