{% extends 'base.html' %}

{% block title %}Sign-Up!{% endblock %}

{% block content %}

  <h2 id="signup-header">Sign-Up for UniMuse</h2>
    
  <form id="sign-up-form" action="/sign-up-verification" method="post">

    <label id="sign-up-username-label">
      Username: <input type="text" name="um-new-username" required>
    </label><br>
    
    <label id="sign-up-pw-label">
      Password: <input type="password" name="um-new-password" required>
    </label><br>
    <button type="submit" class="btn btn-primary" id="submit-new-user">Sign-Up!</button>

  </form>

  <button class="btn btn-primary" id="signup-to-main-btn" onclick="location.href = '/'">
    Go Back</button>

{% endblock %}