{% extends 'base.html' %}

{% block title %}Sign-Up!{% endblock %}

{% block content %}
  <div type="container">

    <div class="signup-header-row row">
      <div class="col-12">
        <h2 id="signup-header">Sign-Up for UniMuse</h2>
      </div>
    </div>

    <div class="signup-form-row row">
      <div class="col-12">
        <form id="sign-up-form" action="/sign-up-verification" method="post">
          <label for="new-username" id="signup-username-label">
              Username: </label>
          <input type="text" name="new-username" required>
          
          <p id="padding">
          
          <label for="new-password" id="signup-password-label">
            Password: </label>
          <input type="password" name="new-password" required>

          <p id="padding">

          <button type="submit" class="btn btn-primary btn-lg raised" 
            id="submit-new-user-button">Sign-Up!</button>
          <button class="btn btn-primary btn-lg raised" id="signup-to-main-button" 
            onclick="location.href = '/'">Go Back</button>
        </form>        
      </div>
    </div>

  </div>
{% endblock %}