{% extends 'base.html' %}

{% block title %}Subscriptions{% endblock %}

{% block content %}

  <div type="container">

    <div class="subscriptions-header-row row">
      <div class="col-12">
          <h2 id="subscriptions-header">Subscriptions Log-In</h2>
      </div>
    </div>

    <div class="subscriptions-buttons-row row">
      <div class="col-12">
        <button class="btn btn-primary btn-lg raised" id="spotify-login-button" 
          onclick="location.href = '{{ spotify_auth_url }}'">
          <i class="fa fa-spotify"></i>&nbsp;Spotify</button>
        
        <p id="padding">

        <button type="button" class="btn btn-primary" id="youtube-login-button">
          <i class="fa fa-youtube"></i>&nbsp;YouTube</button>
        
        <p id="padding">

        <button type="button" class="btn btn-primary" id="mixcloud-login-button">
          <i class="fa fa-mixcloud"></i>&nbsp;Mixcloud</button>
      
        <hr />
        
        <button class="btn btn-primary btn-lg raised" id="subscriptions-to-main-btn" 
          onclick="location.href = '/'">Home</button>
    
        <button class="btn btn-primary btn-lg raised" id="finished-logins-button" 
          onclick="location.href = '/searchlist-playlist'">Finish </button>
      </div>
    </div>
    
  </div>

{% endblock %}