{% extends 'base.html' %}

{% block title %}Music Services Login{% endblock %}

{% block content %}

  <div type="container">

    <div class="services-header-row row">
      <div class="col-12">
          <h2 id="services-header">Music Services Log-In</h2>
      </div>
    </div>

    <div class="services-buttons-row row">
      <div class="col-12">
        <p id="padding">
        
          <button class="btn btn-primary btn-lg raised" id="spotify-login-button" 
          onclick="location.href = '{{ spotify_auth_url }}'">
          <i class="fa fa-spotify"></i>&nbsp;Spotify</button>
        
        <p id="padding">

        <button type="button" class="not-nec btn btn-primary" id="youtube-login-button"
          data-toggle="collapse" data-target="#nologin-necessary-msg">
          <i class="fa fa-youtube"></i>
          &nbsp;YouTube<span id="note-marker">*</span>
        </button>
        
        <p id="padding">

        <button type="button" class="not-nec btn btn-primary" id="mixcloud-login-button"
          data-toggle="collapse" data-target="#nologin-necessary-msg">
          <i class="fa fa-mixcloud"></i>
          &nbsp;Mixcloud<span id="note-marker">*</span>
        </button>
          
        <div id="nologin-necessary-msg" class="collapse">
          <p id="padding">
            
          <p><span id="note-marker">*</span>
            No need to log-in! YouTube and Mixcloud services are already included!
          </p>
        </div>

        <hr />
        
        <button class="btn btn-primary btn-lg raised" id="services-to-main-btn" 
          onclick="location.href = '/'">Home</button>
    
        <button class="btn btn-primary btn-lg raised" id="finished-logins-button" 
          onclick="location.href = '/searchlist-playlist'">Finish </button>
      </div>
    </div>
    
  </div>

{% endblock %}