{% extends 'base.html' %}

{% block title %}Subscriptions{% endblock %}

{% block content %}

  <h2>Subscriptions Log-In</h2>

  <div id="spotify-login">

    <button class="btn btn-primary" id="spotify-login-button" onclick="location.href = '{{ spotify_auth_url }}'">
      Log-In to Spotify </button>

  </div>

  <div id="finished-logins">

      <button class="btn btn-primary" id="finished-logins-button" onclick="location.href = '/search-page'">
        Finish </button>
        
  </div>


  <script type="text/javascript">

    document.getElementById("finished-logins").onclick = function () {
      location.href = "/search-page"
    }

  </script>

{% endblock %}