html, body {
    height: 100%;
    font-family: 'Roboto Condensed';
    background: #484848;
}

h1, h2, h3, h4 {
    font-weight: 200;
    font-family: 'Permanent Marker';
    color: #ffaaaa;
}

.btn {
    padding: 10px 20px;
    width: 200px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: white;
    color: #333333;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #ffaaaa;
}
.btn-primary:active, .btn-primary.active {
    background: salmon;
    box-shadow: none;
}

.btn-primary.raised {
    box-shadow: 0 3px 0 0 #989898;
}
.btn-primary.raised:active, .btn-primary.raised.active {
    background: #ffaaaa;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}