.navbar-default {
  background: #333333;
}

.ml12 {
  font-weight: 200;
  font-size: 5em;
  font-family: 'Permanent Marker';
  color: #ffaaaa;
  /* text-transform: uppercase; */
  letter-spacing: 0.5em;
  text-align: center;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

.index-header {
  text-align: center;
  padding-top: 10em;
  padding-bottom: 10em;
}

.index-buttons {
  text-align: center;
  padding-top: 2em;
  padding-bottom: 10em;
}

.index-about {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #989898;
  border: solid 1px #989898;
  border-radius: 25px;
  text-align: center;
}

.about-header {
  font-family: 'Permanent Marker';
  text-align: center;
}

.index-available-subs-header {
  text-align: center;
  padding-top: 20em;
  padding-bottom: 5em;
}

.index-available-subs {
  text-align: center;
  padding-bottom: 5em;
}

.available-subs-header {
  font-family: 'Permanent Marker';
  text-align: center;
  /* padding-bottom: 3em; */
}