.ml12 {
  font-size: 5em;
  letter-spacing: 0.5em;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

.index-header-row {
  padding-top: 10em;
  padding-bottom: 10em;
}

.index-btns-row {
  padding-top: 2em;
  padding-bottom: 10em;
}

.index-about-row {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #989898;
  border: solid 1px #989898;
  border-radius: 25px;
}

.about-header, .available-subs-header {
  color: black;
}

.index-available-subs-header-row {
  padding-top: 20em;
  padding-bottom: 5em;
}

.index-available-subs-row {
  padding-bottom: 5em;
}

#main-signup-btn-div {
  text-align: right;
}

#main-login-btn-div {
  text-align: left;
}