/* SearchResultsAndPlaylists Overall */

hr {
  padding-bottom: 1em;
}

.search-playlist-form-row {
  padding-top: 2em;
}

.search-form-header, .playlist-form-header, .search-results-header {
  padding-bottom: 0.5em;
}

/* Search Form */
.search-form-box-div {
  text-align: left;
}

.search-form-box-input, .search-form-box-input:focus, .create-playlist-form-input, .create-playlist-form-input:focus {
  background-color: #D0D0D0;
}

.search-form-reset-btn, .playlist-create-reset-btn {
  color: #ffaaaa;
}

/* Playlist Form */
#createplaylistform {
  padding-top: 1em;
  padding-bottom: 1em;
}

#newPlaylistBtn, #deletePlaylistBtn, #gotoPlaylistBtn {
  width: 100px;
}

.divider-top {
  padding-top: 1.7em;
}
.divider{
  width: 60px;
  height: auto;
  display: inline-block;
}

/* Search Results */
#spotifySearchResultsBtn, #youtubeSearchResultsBtn, #mixcloudSearchResultsBtn {
  width: 100px;
}

.fa-spotify, .fa-youtube-play, .fa-mixcloud {
  color: black;
  
}

#spotifySearchResultsBtn:hover, #spotifySearchResultsBtn:focus, #spotifySearchResultsBtn:active, #spotifySearchResultsBtn.active, .open > .dropdown-toggle#spotifySearchResultsBtn {
  background: #1DB954;
}

#youtubeSearchResultsBtn:hover, #youtubeSearchResultsBtn:focus, #youtubeSearchResultsBtn:active, #youtubeSearchResultsBtn.active, .open > .dropdown-toggle#youtubeSearchResultsBtn {
  background: #FF0000;
}

#mixcloudSearchResultsBtn:hover, #mixcloudSearchResultsBtn:focus, #mixcloudSearchResultsBtn:active, #mixcloudSearchResultsBtn.active, .open > .dropdown-toggle#mixcloudSearchResultsBtn {
  background: #52aad8;
}

.search-results {
  padding-top: 2em;
  text-align: left;
}

/* Search Result Elements */
.song-image {
  width: 64px;
  height: 64px;
}

.search-result-element-title {
  text-align:left;
}

.search-result-element-btn {
  width: 70px;
  text-align: center;
}