/* SearchResultsAndPlaylists Overall */

hr {
  padding-bottom: 1em;
}

.search-playlist-form-row {
  padding-top: 2em;
}

.search-form-header, .playlist-form-header, .search-results-header {
  padding-bottom: 0.5em;
}

/* Search Form */
.search-form-box {
  text-align: left;
}

.search-form-reset-btn, .playlist-create-reset-btn {
  color: #ffaaaa;
}

/* Playlist Form */
#createplaylistform {
  padding-top: 1em;
  padding-bottom: 1em;
}

#newPlaylistBtn, #deletePlaylistBtn, #gotoPlaylistBtn {
  width: 100px;
}

.divider-top {
  padding-top: 1.7em;
}
.divider{
  width: 60px;
  height: auto;
  display: inline-block;
}
