.services-header-row {
    font-weight: 200;
    font-size: 5em;
    padding-top: 1em;
    padding-bottom: 0.25em;
  }
  
.services-form-row {
  color: #ffaaaa;
}

#services-submit-button, #services-to-main-button {
  width: 150px;
}

#padding {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.not-nec.btn-primary:hover, .not-nec.btn-primary:focus, .not-nec.btn-primary:active, .not-nec.btn-primary.active, .open > .dropdown-toggle.not-nec.btn-primary {
  background: #A0A0A0;
}

#note-marker {
  color: #ffaaaa;
}